@use 'sass:math';
@use "sass:meta";
@use 'parts/variables';

html .wp-block {
	max-width: 1140px;
	width: calc(100% - 80px);
	container-type: inline-size;
	font: {
		family: sans-serif; // replace this with your font
		size: variables.$rem_size * 1px;
	}
	color: #000;
	line-height: math.div(29, 18);
	@include meta.load-css('parts/reset');
	@include meta.load-css('parts/elements');
	.wrap {
		padding: {
			left: 0;
			right: 0;
		}
	}
	&:hover {
		outline: 2px solid gray;
	}
}

.components-button {
	padding: 6px 12px;
}

html body .edit-post-layout.is-sidebar-opened .edit-post-plugin-sidebar__sidebar-layout,
html body .edit-post-layout.is-sidebar-opened .edit-post-sidebar {
	width: calc(100vw - 1380px);
	overflow: scroll;
	resize: horizontal;
	direction: rtl;
	min-width: 300px;

	* {
		direction: ltr;
	}
}