@use 'sass:math';
@import 'parts/reset';
@import 'parts/variables';

/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */

/* != DEFAULT STYLES ===== */

	html, body {
        scroll-behavior: smooth;
        font: {
            family: $font_family_two;
            size: $rem_size * 1px;
        }
    }

    [id] {
        scroll-margin-top: 100px; // set this to the height of your fixed header, plus some extra
    }

/* != ACCESSIBILITY STYLES ===== */

	.sr-only, .slick-sr-only {
		/* Styles below are so elements are shown to screen readers only */
		border: none !important;
		clip: rect(0, 0, 0, 0) !important;
		height: 0.01em !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		white-space: nowrap !important;
		width: 0.01em !important;
	}

	*:focus {
		outline: 3px solid $focus_color;
		outline-offset: 3px;
	}

	@supports selector(:focus-visible) {
		*:focus {
			outline:none;
		}
		*:focus-visible {
			outline: 3px solid $focus_color;
			outline-offset: 3px;
		}
	}

	#skipnav {
		background: rgba(0,0,0,0.8);
		color:#fff;
		height: 30px;
		top:0;
		left: 50%;
		padding: 8px;
		position: fixed;
		transform: translateY(-100%);
		transition: transform 0.3s;
		z-index:9999999999;
		&:focus {
			transform: translateY(0%);
		}
	}

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/*
    ::selection         {
        background: #aaa;
        color: #fff;
    }
    ::-moz-selection    {
        background: #aaa;
        color: #fff;
    }
    ::-webkit-selection {
        background: #aaa;
        color: #fff;
    }
*/

/* != LAYOUT STYLES ===== */

    #header {
	}

	#main-nav {
	}

	#menu-toggle {
		display: none;
		&.active {
		}
	}

    @import 'parts/elements';

    #footer {
		.jackrabbit {
			a {
				text-decoration:underline;
				&:hover {
					text-decoration:none;
				}
			}
		}
    }

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/*
    ::-webkit-input-placeholder {
        color: #aaa;
    }

    ::-moz-placeholder {
        color: #aaa;
    }
*/

