@charset "UTF-8";
/* ========================================================================= */
/* !RESETS AND DEFAULTS */
/* ========================================================================= */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, img,
ins, kbd, q, samp, var, hr, acronym, dl, dt, dd, ol, ul, li,
pre, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-style: normal;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

em, strong, b, i, a, span, sub, sup, small {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/*
a:focus {
    outline:0;
}
:focus, :active {
    outline:none; outline:0;
} ::-moz-focus-inner {
    outline:none;
}
*/
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #000;
  color: #000;
}

input, select {
  vertical-align: middle;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: 0px;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 0px;
}

input, button, textarea, select, label, img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input[type=text],
input[type=password],
input[type=url],
input[type=number],
input[type=tel],
input[type=email],
input[type=submit],
button, textarea, select {
  -webkit-appearance: none;
  outline: 1px solid transparent;
}

textarea {
  resize: none;
  overflow: auto;
}

button, a span {
  cursor: pointer;
}

button {
  border: 0;
  text-align: center;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table {
  table-layout: fixed;
}

a[href^=tel] {
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}

select:-moz-focusring {
  color: transparent;
}

select::-ms-expand {
  display: none;
}

/* != FONT SMOOTHING */
body, input, button, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* != ms-clear */
input[type=text]::-ms-clear {
  display: none;
}

/* != BACKGROUND POSITION AND BOX SIZING */
*, *:before, *:after {
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

/* != .clearfix - CLEAR ELEMENTS */
.clear {
  clear: both;
}

.clearfix {
  display: block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* != .wordwrap - CONTINUE LONG URLS/WORDS ON NEXT LINE */
.wordwrap {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

/* ========================================================================= */
/* !FONTS (@fontface generated with FontSpring Syntax formatting */
/* ========================================================================= */
/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */
/*
    // Use Case: $b (second) variable is optional and defaults to 'max-width'

    @include break(1100){
        h1{
            background: red;
        }
    }

    // Output
    @media screen and (max-width: 1100px) {
        h1 { background: red; }
    }

    // Also, if you want to specify the 2nd variable for break type (i.e., min-height)

    @include break(1100, 'min-height'){
        h1 {
            background:red;
        }
    }

    // Output
    @media screen and (min-height: 1100px) {
        h1 { background: red; }
    }
*/
/*
    // inline SVGs
    // usage: background-image: inline-svg('<svg><!-- your svg code --></svg>');
*/
/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */
html, body {
  font-family: Helvetica, Arial, sans-serif;
}

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/*
    ::selection         {
        background: #aaa;
        color: #fff;
    }
    ::-moz-selection    {
        background: #aaa;
        color: #fff;
    }
    ::-webkit-selection {
        background: #aaa;
        color: #fff;
    }
*/
/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */
.aligncenter {
  display: block;
  margin: 25px auto;
}

.alignleft {
  float: left;
  margin: 0 25px 25px 0;
}

.alignright {
  float: right;
  margin: 0 0 25px 25px;
}

.alignnone {
  display: inline-block;
}

/* != LAYOUT STYLES ===== */
/* BUTTONS */
.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
}
.content-main ul:not([class*=gf]) > li {
  position: relative;
  padding-left: 10px;
}
.content-main ul:not([class*=gf]) > li:before {
  content: "•";
  position: absolute;
  left: 0;
}
.content-main ol {
  counter-reset: li;
}
.content-main ol > li {
  position: relative;
  padding-left: 20px;
}
.content-main ol > li:before {
  content: counter(li) ". ";
  counter-increment: li;
  position: absolute;
  right: calc(100% - 15px);
}

.wrap {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#skipnav {
  position: absolute;
  left: -50000px;
}

#jumptocontent {
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 0;
}

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/*
    ::-webkit-input-placeholder {
        color: #aaa;
    }

    ::-moz-placeholder {
        color: #aaa;
    }
*/
input[type=submit], button {
  display: inline-block;
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  background: #fff url("image_for_dropdown_arrow") no-repeat calc(100% - 10px) 50%;
}

.validation_error {
  padding: 15px;
  color: #fff;
  background: #c00;
  margin: 20px 0;
}
.validation_message {
  text-transform: uppercase;
  font-size: 12px;
  color: #c00;
  font-weight: 600;
}

.gform_validation_container {
  position: absolute;
  top: -9999px;
  left: -9999px;
  pointer-events: none;
  opacity: 0;
}