@use 'sass:math';
@import 'parts/reset';
@import 'parts/variables';

/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */

/* != DEFAULT STYLES ===== */

	html, body {
        scroll-behavior: smooth;
        font: {
            family: $font_family_two;
            size: $rem_size * 1px;
        }
    }

    [id] {
        scroll-margin-top: 100px; // set this to the height of your fixed header, plus some extra
    }

	#skipnav {
		background: rgba(0,0,0,0.8);
		color:#fff;
		height: 30px;
		left: 50%;
		padding: 8px;
		position: absolute;
		transform: translateY(-100%);
		transition: transform 0.3s;
		&:focus {
			transform: translateY(0%);
		}
	}

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/*
    ::selection         {
        background: #aaa;
        color: #fff;
    }
    ::-moz-selection    {
        background: #aaa;
        color: #fff;
    }
    ::-webkit-selection {
        background: #aaa;
        color: #fff;
    }
*/

/* != LAYOUT STYLES ===== */

    #header {
	}

	#main-nav {
	}

	#menu-toggle {
		display: none;
		&.active {
		}
	}

    @import 'parts/elements';

    #footer {
		.jackrabbit {
			a {
				text-decoration:underline;
				&:hover {
					text-decoration:none;
				}
			}
		}
    }

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/*
    ::-webkit-input-placeholder {
        color: #aaa;
    }

    ::-moz-placeholder {
        color: #aaa;
    }
*/

