@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';

/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */

    @mixin flex($justify, $alignitems, $flexwrap, $flexdirection) {
		display: flex;
		justify-content: $justify;
		align-items: $alignitems;
		flex-wrap: $flexwrap;
		flex-direction: $flexdirection;
    }

    @mixin size($w, $h: $w) {
        @if ( meta.type-of($w) == 'number' ) {
            @if ( math.is-unitless($w) ) {
                $w: $w + px;
            }
        }
        @if ( meta.type-of($h) == 'number' ) {
            @if ( math.is-unitless($h) ) {
                $h: $h + px;
            }
        }
        width: $w;
        height: $h;
    }

    // Breakpoint Mixin
    @mixin break($p, $b: 'max-width'){
        @media screen and ( #{$b}: #{$p}px ){
            @content;
        }
    }

    @mixin range($minVal, $maxVal ){
        @media only screen and ( min-width: #{$minVal}px ) and ( max-width: #{$maxVal}px ){
            @content;
        }
    }

    @function em( $value, $fontsize ) {
        @return math.div($value, $fontsize) * 1em;
    }

    // $columns: the number of columns (items per row) of the flexbox
    // $gap: the gap between columns (can be pixels, percentage, em, whatever)
    @function flex-math( $columns, $gap ) {
        $perc: math.percentage( math.div( 1, $columns ) );
        $between: calc( $gap * ( ( $columns - 1 ) / $columns ) );
        @return calc( $perc - $between );
    }

/*
    // Use Case: $b (second) variable is optional and defaults to 'max-width'

    @include break(1100){
        h1{
            background: red;
        }
    }

    // Output
    @media screen and (max-width: 1100px) {
        h1 { background: red; }
    }

    // Also, if you want to specify the 2nd variable for break type (i.e., min-height)

    @include break(1100, 'min-height'){
        h1 {
            background:red;
        }
    }

    // Output
    @media screen and (min-height: 1100px) {
        h1 { background: red; }
    }
*/

/*
    // inline SVGs
    // usage: background-image: inline-svg('<svg><!-- your svg code --></svg>');
*/
@function str-replace($string, $search, $replace: '') {
    $index: string.index($string, $search);
    @if $index {
        @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
    }
    @return $string;
}

@function url-encode($string) {
    $map: ( "%": "%25", "<": "%3C", ">": "%3E", "!": "%21", "*": "%2A", "'": "%27", '"': "%22", "(": "%28", ")": "%29", ";": "%3B", ":": "%3A", "@": "%40", "&": "%26", "=": "%3D", "+": "%2B", "$": "%24", ",": "%2C", "/": "%2F", "?": "%3F", "#": "%23", "[": "%5B", "]": "%5D" );
    $new: $string;
    @each $search, $replace in $map {
        $new: str-replace($new, $search, $replace);
    }
    @return $new;
}

@function inline-svg($string) {
    @return url('data:image/svg+xml,#{url-encode($string)}');
}