@import 'parts/mixins';
@import 'parts/fonts';

$rem_size: 16;

$font_family_one: Helvetica, Arial, sans-serif;
$font_family_two: Helvetica, Arial, $font_family_one;

$color_one: #000000;
$color_two: #333333;

$focus_color: rgba(0,0,0,0.5);