/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */

    @mixin size($w, $h: $w) { width: $w; height: $h; }

    // VERTICALLY CENTER CONTAINERS
    // EXAMPLE:
    // .parent {
    //     position: relative;
    //     .child {
    //         @include vCenter(false, true, false);
    //     }
    // }

    @mixin vCenter($left: true, $vertical: true, $right: true) {
        position: absolute;
        @if ($vertical) {
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        } @else if ($left) {
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        } @else if ($right) {
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    // Breakpoint Mixin
    @mixin break($p, $b: 'max-width'){
        @media screen and ( $b: $p + px ){
            @content;
        }
    }

/* 
    // Use Case: $b (second) variable is optional and defaults to 'max-width'

    @include break(1100){
        h1{
            background: red;
        }
    }

    // Output
    @media screen and (max-width: 1100px) { 
        h1 { background: red; }
    }

    // Also, if you want to specify the 2nd variable for break type (i.e., min-height)

    @include break(1100, 'min-height'){
        h1 {
            background:red;
        }
    }

    // Output
    @media screen and (min-height: 1100px) { 
        h1 { background: red; }
    }
*/