@use 'ui/css/parts/fonts';
@use 'ui/css/parts/variables' as *;

#tinymce {
    h1, h2, h3, h4, h5, h6 {
        border-bottom: 2px dotted #ddd;
        padding-bottom: 2px;
        position: relative;
    }

    h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
        display: inline-block;
        background: #ddd;
        color: #222;
        font-size: 14px;
        line-height: 1.4;
        padding: 5px;
        margin-left: 10px;
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        font-family: Arial;
    }

    h1:after {
        content: "heading 1";
    }

    h2:after {
        content: "heading 2";
    }

    h3:after {
        content: "heading 3";
    }

    h4:after {
        content: "heading 4";
    }

    h5:after {
        content: "heading 5";
    }

    h6:after {
        content: "heading 6";
    }

    h1,
    .title1,
    .mce-container-body .mce-menu-item:nth-child(2):not(.mce-menu-item-expand) .mce-text {
        font: 700 50px/1.1 sans-serif !important;
        color: #000 !important;
    }
    h2,
    .title2,
    .mce-container-body .mce-menu-item:nth-child(3):not(.mce-menu-item-expand) .mce-text {
        font: normal 36px/1.2 sans-serif !important;
        color: #000 !important;
    }
    h3,
    .title3,
    .mce-container-body .mce-menu-item:nth-child(4):not(.mce-menu-item-expand) .mce-text {
        font: 600 18px/1.2 sans-serif !important;
        color: #000 !important;
    }
    h4,
    .title4,
    .mce-container-body .mce-menu-item:nth-child(5):not(.mce-menu-item-expand) .mce-text {
        font: normal 18px/1.2 sans-serif !important;
        color: #000 !important;
    }
    h5,
    .title5,
    .mce-container-body .mce-menu-item:nth-child(6):not(.mce-menu-item-expand) .mce-text {
        font: normal 14px/1.2 sans-serif !important;
        color: #000 !important;
    }
    h6,
    .title6,
    .mce-container-body .mce-menu-item:nth-child(7):not(.mce-menu-item-expand) .mce-text {
        font: normal 14px/1.2 sans-serif !important;
        color: #000 !important;
    }
    p,
    li,
    .mce-container-body .mce-menu-item:nth-child(1) .mce-text {
        font-size:14px;
        line-height:1.5;
        color:#000;
        font-family: sans-serif;
    }
    a {
        color:#00f;
        text-decoration:underline;
    }
	a.btn {
		color: #fff;
		border: 1px solid #000;
		text-decoration:none;
		display: inline-block;
		font-size: 16px;
		font-weight:600;
		padding: 10px 25px;
	}

    h2 strong,
    h3 strong,
    h4 strong,
    h5 strong {
        font-weight: inherit;
    }

    ul {
        padding:0;
    }
    ul > li {
        position: relative;
        padding-left: 26px;
        list-style:none;
        margin-bottom:1.07em;
    }
    ul > li:before {
        content: '\2022';
        position: absolute;
        left: 10px;
    }

    ol {
        counter-reset: li;
        padding:0;
    }
    ol > li {
        position: relative;
        padding-left: 26px;
        margin-bottom: 1.07em;
        list-style:none;
    }
    ol > li:before {
        content: counter(li) ". ";
        counter-increment: li;
        position: absolute;
        left: 10px;
    }
}