@import 'parts/reset';
@import 'parts/fonts';
@import 'parts/mixins';

/* Add Vendor Stylesheets here */ 

/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */

	html, body { 
    
    }

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/*
    ::selection         { 
        background: #aaa; 
        color: #fff;
    }
    ::-moz-selection    { 
        background: #aaa; 
        color: #fff;
    }
    ::-webkit-selection { 
        background: #aaa; 
        color: #fff;
    }
*/

/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */

    .aligncenter { 
        display: block; 
        margin: 25px auto;
    }

    .alignleft { 
        float: left; 
        margin: 0 25px 25px 0; 
    }

    .alignright { 
        float: right; 
        margin: 0 0 25px 25px; 
    }

    .alignnone { 
        display: inline-block;
    }

/* != LAYOUT STYLES ===== */

    h1 { 
        
    }
    
    h2 { 

    }
    
    h3 { 

    }
    
    h4 { 

    }
    
    h5 {
    
    }
    
    h6 {

    }

    .content-main ul:not([class*="gf"]) {
        > li { position: relative; padding-left: 10px;
            &:before { content: '\2022'; position: absolute; left: 0; }
        }
    }
    .content-main ol { counter-reset:li;
        > li { position: relative; padding-left: 20px;
            &:before { content:counter(li) '. '; counter-increment: li; position: absolute; right: calc(100% - 15px); }
        }
    }

    .wrap { 
        width: 1180px; 
        margin: 0 auto; 
        max-width: 100%; 
        padding: 0 20px;
    }

    /*

    .wrap { 
        max-width: 1180px; 
        width: 100%;
        margin: 0 auto; 
        padding: 0 20px;
    }

    */



/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/*
    ::-webkit-input-placeholder { 
        color: #aaa;
    }

    ::-moz-placeholder {
        color: #aaa;
    }
*/

    input {
        &[type=text], 
        &[type=password], 
        &[type=url], 
        &[type=email] { 

        }
    }

    input[type=submit], button { 
        display: inline-block; 
        cursor: pointer;
        &:hover { 
        }
    }


    /* != Select menus with a .select-menu container or gform-select-menu applied in gravity forms ===== */
    .select-menu, 
    .gform-select-menu div {
        position: relative;
        width: 260px;
        border: 1px solid #f00;
        vertical-align: middle;
        display: inline-block;
        overflow: hidden;
        margin: 0 10px 0 0;
        &:after, &:after {
            content: '';
            position: absolute;
            right: 14px;
            top: calc(50% - 8px);
            z-index: 1;
            pointer-events: none;
            @include size(16px);
            /* bg image */
        }
        &:hover {
            border-color: #00f;
            &:after {/* bg image */}
        }
        select {
            padding: 0 10px 0 20px;
            cursor: pointer;
            color: #0f0;
            background-color: #fff;
            width: 120%;
            height: 40px;
            line-height: 40px;
            border: 0;
            border-radius: 0;
            text-indent: 0.01px;
            text-overflow: '';
            position: relative;
            z-index: 1;
        }
    }

/* ========================================================================= */
/* ELEMENT BASED CSS STRUTURE */
/* ========================================================================= */
/*
    header {
        rules for header desktop and some defaults
    }

    @include break(1100){
        header {
            rules of breakpoint
        }
    }

    @include break(768){
        header {
            rules of other breakpoint
        }
    }

    @media screen and (max-width: 480px){
        header {
            rules of other breakpoint
        }
    }

*/


/* ========================================================================= */
/* MEDIA QUERIES */
/* ========================================================================= */

/* @media screen and (max-width: XXXpx) {  } */
