@import 'parts/reset';
@import 'parts/fonts';
@import 'parts/mixins';
@import 'parts/vendor';

$font_body: Helvetica, Arial, sans-serif;
$font_heading: Helvetica, Arial, $font_body;

$primary_color: #000000;
$secondary_color: #333333;

/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */

	html, body {
        font: {
            family: $font_body;
        }
    }

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/*
    ::selection         {
        background: #aaa;
        color: #fff;
    }
    ::-moz-selection    {
        background: #aaa;
        color: #fff;
    }
    ::-webkit-selection {
        background: #aaa;
        color: #fff;
    }
*/

/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */

    .aligncenter {
        display: block;
        margin: 25px auto;
    }

    .alignleft {
        float: left;
        margin: 0 25px 25px 0;
    }

    .alignright {
        float: right;
        margin: 0 0 25px 25px;
    }

    .alignnone {
        display: inline-block;
    }

/* != LAYOUT STYLES ===== */

    h1 {
    }

    h2 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }

    h6 {
    }

    /* BUTTONS */
    .btn {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        transition: .2s;
        &:hover {
        }
    }

    table {
        thead {
        }
        tbody {
        }
        th, td {
        }
    }

    blockquote {
    }

    figure, .wp-caption {
        img {
        }
        figcaption, .wp-caption-text {
        }
    }

    .content-main {
        ul:not([class*="gf"]) {
            > li {
                position: relative;
                padding-left: 10px;
                &:before {
                    content: '\2022';
                    position: absolute;
                    left: 0;
                }
            }
        }
        ol {
            counter-reset:li;
            > li {
                position: relative;
                padding-left: 20px;
                &:before {
                    content:counter(li) '. ';
                    counter-increment: li;
                    position: absolute;
                    right: calc(100% - 15px);
                }
            }
        }
    }

    .wrap {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

	#skipnav { position: absolute; left: -50000px; }
	#jumptocontent {font-size:0;line-height:0;height:0;width:0;}

    #header {

    }

    #footer {

    }

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/*
    ::-webkit-input-placeholder {
        color: #aaa;
    }

    ::-moz-placeholder {
        color: #aaa;
    }
*/
	label {

	}

    input {
        &[type=text],
		&[type=password],
		&[type=url],
		&[type=number],
		&[type=tel],
		&[type=email] {

        }
    }

	input {
        &[type=radio],
        &[type=checkbox] {
			+ label {

			}
        }
    }

    input[type=submit], button {
        display: inline-block;
        cursor: pointer;
        &:hover {
        }
    }


   /* != Select menus with a .select-menu container or gform-select-menu applied in gravity forms ===== */
   .select-menu,
   .gform-select-menu div {
       position: relative;
       width: 100%;
       border: 1px solid #f00;
       vertical-align: middle;
       display: inline-block;
       overflow: hidden;
       margin: 0 10px 0 0;
       &:before, &:after {
           content: '';
           position: absolute;
           right: 14px;
           top: calc(50% - 8px);
           z-index: 1;
           pointer-events: none;
           @include size(16px);
           /* bg image */
       }
       &:hover {
           border-color: #00f;
           &:before {/* bg image */}
           &:after {/* bg image */}
       }
       select {
           padding: 0 10px 0 20px;
           cursor: pointer;
           color: #0f0;
           background-color: #fff;
           width: 120%;
           height: 40px;
           line-height: 40px;
           border: 0;
           border-radius: 0;
           text-indent: 0.01px;
           text-overflow: '';
           position: relative;
           z-index: 1;
       }
   }

    .validation {
        &_error {
            padding: 15px;
            color: #fff;
            background: #c00;
            margin: 20px 0;
        }
        &_message {
            text-transform: uppercase;
            font-size: 12px;
            color: #c00;
            font-weight: 600;
        }
    }

    .gform_validation_container {
        // display: none;
        // visibility: hidden;
        // uncomment the above if the below doesn't work.
        position:absolute;
        top:-9999px;
        left:-9999px;
        pointer-events:none;
        opacity:0;
    }